/* .main{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.Pokemon-wraper{
   border-radius: .25rem;
    margin: 10px;
    background-color: rgb(213, 137, 22);
    width: 20%;
    

}
img{
    
    height: 10rem;
    width: 80%;
}